---
import Layout from '../../layouts/Layout.astro';
import MainPageHeader from '../../components/MainPageHeader.astro';
import GroupedLinks from "../../components/GroupedLinks.astro";

const reports = await Astro.glob('./2024/*.mdx');

---

<Layout title="Собрание 2024">
	<main>
		<MainPageHeader />
		<h2>Собрание 2024</h2>
		<GroupedLinks items={reports} showYears={false} />
	</main>
</Layout>

<style>
	h2 {
		margin-top: 4rem;
	}

	main {
		position: relative;
	}
</style>
