---
import Layout from '../layouts/Layout.astro';
import MainPageHeader from '../components/MainPageHeader.astro';
import GroupedLinks from "../components/GroupedLinks.astro";
import TextCard from "../components/TextCard.astro";
import RatesCard from "../components/RatesCard.astro";
import LinksCard from "../components/LinksCard.astro";

const news = await Astro.glob('./news/*/*.md');

---

<Layout title="Welcome to Astro.">
	<main>
		<MainPageHeader isFull={true} />
		<LinksCard
			title="Полезное"
			links={[
				{title: 'Собрание 2023', url: '/meetings/2023'},
				{title: 'Архив собраний', url: '/meetings'},
				{title: 'Решения судов', url: '/courts'},
			]}
		/>
		<TextCard isDesktopOnly={true}>
			ТСЖ Магнолия создано решением общего собрания многоквартирного дома по адресу <code>г. Мытищи, ул. Колпакова, д.40/3</code>.
		</TextCard>
		<RatesCard
			title="12.2022 - 12.2023:"
			rates={['⚡️ 5,05 руб./кВт.ч.', '💧 48,14 руб./куб.м.', '🔥 2867,18 руб./Гкал.']}
		   	links={[
				{title: '2022', link: '/rates/2022'},
				{title: '2021', link: '/rates/2021'},
				{title: '2020', link: '/rates/2020'},
			]}
		/>
		<h2>Новости</h2>
		<GroupedLinks items={news} />
	</main>
</Layout>

<style>
	h2 {
		margin-top: 4rem;
	}

	main {
		position: relative;
	}

	@media (max-width: 800px) {
		h2 {
			margin-top: 2rem;
		}
	}
</style>
