---
import Layout from '../layouts/Layout.astro';
import MainPageHeader from '../components/MainPageHeader.astro';
import GroupedLinks from "../components/GroupedLinks.astro";

const reports = await Astro.glob('./reports/*/*.mdx');

---

<Layout title="Список отчетов">
	<main>
		<MainPageHeader />
		<h2>Отчеты</h2>
		<GroupedLinks items={reports} />
	</main>
</Layout>

<style>
	h2 {
		margin-top: 4rem;
	}

	main {
		position: relative;
	}
</style>
